body {
    margin: 0;
    background-color: #202020;
    min-width: 550px;
    min-height: 200px;
}

#title{
    margin-left: 52px;
    width: 354px;
    font-family: 'Karla', sans-serif;
    
}

#firstH1{
    color: #ffd100;
    margin:0;
}

#secondH1{
    margin: 0;
    color: #d6d6d6 ;
}

#generate-btn{
    background-color: #ffd100;
    margin-top: 25px;
    border-radius: 10px;
    text-shadow: 0.5px 0px #1F2937 ; 
    font-family: 'Inter', sans-serif;
    font-size:medium;
    color: #d6d6d6;
    width: 200px;
    height: 50px;
    color: #333533;
}

#ris{
    margin: 45px 52px 0px 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #d6d6d6;
}

.rectangle{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: 10px;
    height: 50px;
    width: 211px;
    background-color: #333533;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    color: #ffd100;
}

#cont{
    margin-left: 52px;
    display: flex;
    flex-direction: row ;
}

#cop{
    display: flex;
    flex-direction: row;
    margin-top: none;
    justify-content: space-around;
    color: #d6d6d6;
    font-family: 'Inter', sans-serif;
}